@use '@/styles/constants/colors';
@use '@/styles/mixins/flexbox';
@use '@/styles/mixins/responsive';

.header {
  @include flexbox.flexbox(between);
  position: fixed;
  top: 0;
  z-index: 10;
  width: 100%;
  height: 60px;
  padding: 0 24px;
  backdrop-filter: blur(6px);

  @include responsive.tablet {
    height: 50px;
    padding: 0 18px;
  }

  @include responsive.mobile {
    height: 40px;
    padding: 0 12px;
  }

  h1 {
    font-size: 26px;
    color: colors.$WHITE;

    @include responsive.tablet {
      font-size: 22px;
    }

    @include responsive.mobile {
      font-size: 18px;
    }
  }
}
