@function _direction($args) {
  @if length($args) == 1 {
    @return $args;
  } @else if length($args) == 2 {
    @return nth($args, 1), nth($args, 2);
  }
}

@mixin fadeIn($name, $args: (), $duration) {
  $direaction-pos: _direction($args);

  @keyframes #{$name} {
    from {
      opacity: 0;
      transform: translate($direaction-pos);
    }

    to {
      opacity: 1;
      transform: translate(0);
    }
  }
  animation: $name $duration ease forwards;
}
